/* Estilo para la alerta flotante */
.floating-alert {
    position: fixed;
    top: 125px; /* Puedes ajustar la posición vertical */
    right: 50px; /* Puedes ajustar la posición horizontal */
    background-color: #28a745; /* Color de fondo verde (puedes ajustar el color) */
    color: #fff; /* Color del texto */
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999; /* Asegura que esté en la parte superior */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
 
  